Repository npalm/recipes: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run recipe validate --, eslint --fix

.lintstagedrc.json:

{
  "content/recipes/**/*.md": [
    "npm run recipe validate --"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix"
  ]
}

Add plating component to new recipes
  content/recipes/black-forest-cherries-chocolate-espuma/index.en.md
  content/recipes/black-forest-cherries-chocolate-espuma/index.nl.md
  content/recipes/king-oyster-dengaku-wasabi-mayo/index.en.md
  content/recipes/king-oyster-dengaku-wasabi-mayo/index.nl.md
  content/recipes/silky-tuna-ginger-infusion/index.en.md
  content/recipes/silky-tuna-ginger-infusion/index.nl.md
  content/recipes/tom-kha-prawn-charred-edamame/index.en.md
  content/recipes/tom-kha-prawn-charred-edamame/index.nl.md
Due: npm run recipe validate --

fix(parser): handle end-of-content in extractSection regex
  src/lib/markdown/parser.ts
Due: eslint --fix

docs(black-forest): add cherry pitting tip to notes
  content/recipes/black-forest-cherries-chocolate-espuma/index.en.md
  content/recipes/black-forest-cherries-chocolate-espuma/index.nl.md
Due: npm run recipe validate --

fix(recipe): sort recipe cards by createdAt
  src/modules/recipe/domain/types.ts
  src/modules/recipe/repository/recipeRepository.ts
  src/modules/recipe/services/filters.ts
  tests/unit/recipe-filters.test.ts
  tests/unit/recipe-service.test.ts
  tests/unit/search-service.test.ts
Due: eslint --fix

feat(tuna): add optional soy-mirin glaze finish on the plate
  content/recipes/silky-tuna-ginger-infusion/index.en.md
  content/recipes/silky-tuna-ginger-infusion/index.nl.md
Due: npm run recipe validate --

Add images for Tom Kha Prawn and King Oyster Dengaku recipes
  content/recipes/king-oyster-dengaku-wasabi-mayo/images/king-oyster-dengaku.jpg
  content/recipes/king-oyster-dengaku-wasabi-mayo/index.en.md
  content/recipes/king-oyster-dengaku-wasabi-mayo/index.nl.md
  content/recipes/tom-kha-prawn-charred-edamame/images/tom-kha-prawn.jpg
  content/recipes/tom-kha-prawn-charred-edamame/index.en.md
  content/recipes/tom-kha-prawn-charred-edamame/index.nl.md
Due: npm run recipe validate --

Add header image for silky tuna recipe
  content/recipes/silky-tuna-ginger-infusion/images/silky-tuna.jpg
  content/recipes/silky-tuna-ginger-infusion/index.en.md
  content/recipes/silky-tuna-ginger-infusion/index.nl.md
Due: npm run recipe validate --

Add header image for Black Forest dessert recipe
  content/recipes/black-forest-cherries-chocolate-espuma/images/black-forest.jpg
  content/recipes/black-forest-cherries-chocolate-espuma/index.en.md
  content/recipes/black-forest-cherries-chocolate-espuma/index.nl.md
Due: npm run recipe validate --

Update header images: black forest crop, dengaku rotation
  content/recipes/black-forest-cherries-chocolate-espuma/images/black-forest.jpg
  content/recipes/king-oyster-dengaku-wasabi-mayo/images/king-oyster-dengaku.jpg
Due: none

Recrop Black Forest header image
  content/recipes/black-forest-cherries-chocolate-espuma/images/black-forest.jpg
Due: none

Add 4 new recipes and fix homepage sort order (#87)
  content/recipes/black-forest-cherries-chocolate-espuma/images/black-forest.jpg
  content/recipes/black-forest-cherries-chocolate-espuma/index.en.md
  content/recipes/black-forest-cherries-chocolate-espuma/index.nl.md
  content/recipes/king-oyster-dengaku-wasabi-mayo/images/king-oyster-dengaku.jpg
  content/recipes/king-oyster-dengaku-wasabi-mayo/index.en.md
  content/recipes/king-oyster-dengaku-wasabi-mayo/index.nl.md
  content/recipes/onsen-tamago/index.en.md
  content/recipes/onsen-tamago/index.nl.md
  content/recipes/silky-tuna-ginger-infusion/images/silky-tuna.jpg
  content/recipes/silky-tuna-ginger-infusion/index.en.md
  content/recipes/silky-tuna-ginger-infusion/index.nl.md
  content/recipes/sous-vide-salmon-noodles-edamame/index.en.md
  content/recipes/sous-vide-salmon-noodles-edamame/index.nl.md
  content/recipes/tom-kha-prawn-charred-edamame/images/tom-kha-prawn.jpg
  content/recipes/tom-kha-prawn-charred-edamame/index.en.md
  content/recipes/tom-kha-prawn-charred-edamame/index.nl.md
  src/lib/markdown/parser.ts
  src/modules/recipe/domain/types.ts
  src/modules/recipe/repository/recipeRepository.ts
  src/modules/recipe/services/filters.ts
  tests/unit/recipe-filters.test.ts
  tests/unit/recipe-service.test.ts
  tests/unit/search-service.test.ts
Due: npm run recipe validate --, eslint --fix
