Repository npalm/recipes: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run recipe validate --, eslint --fix

.lintstagedrc.json:

{
  "content/recipes/**/*.md": [
    "npm run recipe validate --"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix"
  ]
}

Add tests for server-image-utils to meet coverage threshold
  tests/unit/server-image-utils.test.ts
Due: eslint --fix

Add server-side image cache busting for Open Graph metadata (#23)
  src/app/[locale]/dinner/[encoded]/page.tsx
  src/app/[locale]/recipe/[slug]/page.tsx
  src/lib/server-image-utils.ts
  tests/unit/recipe-page-metadata.test.ts
  tests/unit/server-image-utils.test.ts
Due: eslint --fix

Fix and improve pre-commit hooks (#24)
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.js
  .lintstagedrc.json
  package.json
Due: eslint --fix

Add build-time image cache busting for all recipe images
  .gitignore
  next.config.ts
  package.json
  scripts/generate-image-manifest.mjs
  src/lib/client-image-utils.ts
  src/modules/recipe/components/ImageGallery.tsx
  tests/unit/client-image-utils.test.ts
Due: eslint --fix

feat: add lime parfait dessert recipe with image
  content/recipes/lime-parfait-meringue-caramelized-white-chocolate/images/lime-parfait.jpg
  content/recipes/lime-parfait-meringue-caramelized-white-chocolate/index.en.md
  content/recipes/lime-parfait-meringue-caramelized-white-chocolate/index.nl.md
Due: npm run recipe validate --

fix: remove invalid quantity annotations from recipe
  content/recipes/lime-parfait-meringue-caramelized-white-chocolate/index.en.md
  content/recipes/lime-parfait-meringue-caramelized-white-chocolate/index.nl.md
Due: npm run recipe validate --

refactor: remove basil oil component from recipe
  content/recipes/lime-parfait-meringue-caramelized-white-chocolate/index.en.md
  content/recipes/lime-parfait-meringue-caramelized-white-chocolate/index.nl.md
Due: npm run recipe validate --

feat: Add Lime Parfait with Meringue and Caramelized White Chocolate (#31)
  content/recipes/lime-parfait-meringue-caramelized-white-chocolate/images/lime-parfait.jpg
  content/recipes/lime-parfait-meringue-caramelized-white-chocolate/index.en.md
  content/recipes/lime-parfait-meringue-caramelized-white-chocolate/index.nl.md
Due: npm run recipe validate --

feat: add roasted celeriac steak with caramelized shallots
  content/recipes/roasted-celeriac-steak-caramelized-shallots/images/celeriac-steak.jpg
  content/recipes/roasted-celeriac-steak-caramelized-shallots/index.en.md
  content/recipes/roasted-celeriac-steak-caramelized-shallots/index.nl.md
Due: npm run recipe validate --

feat: add roasted celeriac steak with caramelized shallots (#32)
  content/recipes/roasted-celeriac-steak-caramelized-shallots/images/celeriac-steak.jpg
  content/recipes/roasted-celeriac-steak-caramelized-shallots/index.en.md
  content/recipes/roasted-celeriac-steak-caramelized-shallots/index.nl.md
Due: npm run recipe validate --

feat: add celeriac and wild mushroom espuma starter
  content/recipes/celeriac-mushroom-espuma/images/celeriac-espuma.jpg
  content/recipes/celeriac-mushroom-espuma/index.en.md
  content/recipes/celeriac-mushroom-espuma/index.nl.md
Due: npm run recipe validate --

fix: correct image frontmatter from 'image' to 'images' array
  content/recipes/celeriac-mushroom-espuma/index.en.md
  content/recipes/celeriac-mushroom-espuma/index.nl.md
Due: npm run recipe validate --

fix: remove bold formatting from Notes section
  content/recipes/celeriac-mushroom-espuma/index.en.md
  content/recipes/celeriac-mushroom-espuma/index.nl.md
Due: npm run recipe validate --

feat: Add Celeriac & Wild Mushroom Espuma Starter (#33)
  content/recipes/celeriac-mushroom-espuma/images/celeriac-espuma.jpg
  content/recipes/celeriac-mushroom-espuma/index.en.md
  content/recipes/celeriac-mushroom-espuma/index.nl.md
Due: npm run recipe validate --

fix: commit image manifest to ensure CI type-checking works
  .gitignore
  src/lib/image-manifest.json
  src/lib/image-manifest.ts
Due: eslint --fix

chore(deps): group all tools/cli dependencies together
  .github/dependabot.yml
Due: none

Extend cache busting to ALL recipe images (not just OG metadata) (#25)
  .gitignore
  next.config.ts
  package.json
  scripts/generate-image-manifest.mjs
  src/lib/client-image-utils.ts
  src/lib/image-manifest.json
  src/lib/image-manifest.ts
  src/modules/recipe/components/ImageGallery.tsx
  tests/unit/client-image-utils.test.ts
Due: eslint --fix

chore(deps): group all tools/cli dependencies together (#36)
  .github/dependabot.yml
Due: none

Revert "Extend cache busting to ALL recipe images (not just OG metadata) (#25)"
  .gitignore
  next.config.ts
  package.json
  scripts/generate-image-manifest.mjs
  src/lib/client-image-utils.ts
  src/lib/image-manifest.json
  src/lib/image-manifest.ts
  src/modules/recipe/components/ImageGallery.tsx
  tests/unit/client-image-utils.test.ts
Due: eslint --fix

Add sous vide miso salmon recipe and fix Dutch notes parsing
  content/recipes/sous-vide-miso-salmon-asian-cauliflower/index.en.md
  content/recipes/sous-vide-miso-salmon-asian-cauliflower/index.nl.md
  src/lib/markdown/parser.ts
Due: npm run recipe validate --, eslint --fix

Add recipe image and remove draft status
  content/recipes/sous-vide-miso-salmon-asian-cauliflower/images/miso-salmon.jpg
  content/recipes/sous-vide-miso-salmon-asian-cauliflower/index.en.md
  content/recipes/sous-vide-miso-salmon-asian-cauliflower/index.nl.md
Due: npm run recipe validate --

feat: Add Sous Vide Miso Salmon recipe (#55)
  content/recipes/sous-vide-miso-salmon-asian-cauliflower/images/miso-salmon.jpg
  content/recipes/sous-vide-miso-salmon-asian-cauliflower/index.en.md
  content/recipes/sous-vide-miso-salmon-asian-cauliflower/index.nl.md
  src/lib/markdown/parser.ts
Due: npm run recipe validate --, eslint --fix

Add lime parfait mango granita recipe
  content/recipes/lime-parfait-meringue-granita/images/lime-parfait-mango-granita.jpg
  content/recipes/lime-parfait-meringue-granita/index.en.md
  content/recipes/lime-parfait-meringue-granita/index.nl.md
Due: npm run recipe validate --

feat: Add lime parfait mango granita recipe (#78)
  content/recipes/lime-parfait-meringue-granita/images/lime-parfait-mango-granita.jpg
  content/recipes/lime-parfait-meringue-granita/index.en.md
  content/recipes/lime-parfait-meringue-granita/index.nl.md
Due: npm run recipe validate --

chore: migrate to pnpm 11
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/validate-recipes.yml
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  README.md
  docs/RECIPE_FORMAT.md
  docs/VALIDATION.md
  eslint.config.mjs
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/i18n.ts
  src/lib/server-image-utils.ts
  src/proxy.ts
  tests/unit/recipe-schema.test.ts
  tests/unit/search-service.test.ts
  tools/cli/package-lock.json
  tools/cli/package.json
Due: eslint --fix

chore: document CodeQL permissions
  .github/workflows/codeql.yml
Due: none

fix: pin Vercel to pnpm and Node 24
  README.md
  package.json
  tools/cli/package.json
  vercel.json
Due: none

chore: migrate to pnpm 11 (#79)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/validate-recipes.yml
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  README.md
  docs/RECIPE_FORMAT.md
  docs/VALIDATION.md
  eslint.config.mjs
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/i18n.ts
  src/lib/server-image-utils.ts
  src/proxy.ts
  tests/unit/recipe-schema.test.ts
  tests/unit/search-service.test.ts
  tools/cli/package-lock.json
  tools/cli/package.json
  vercel.json
Due: eslint --fix

Add three new recipes: Onsen Tamago, Salmon under Fire, Strawberries with White Chocolate Foam
  content/recipes/onsen-tamago/images/onsen-tamago.jpg
  content/recipes/onsen-tamago/index.en.md
  content/recipes/onsen-tamago/index.nl.md
  content/recipes/sous-vide-salmon-noodles-edamame/images/salmon.jpg
  content/recipes/sous-vide-salmon-noodles-edamame/index.en.md
  content/recipes/sous-vide-salmon-noodles-edamame/index.nl.md
  content/recipes/strawberries-lime-white-chocolate-foam/images/strawberries.jpg
  content/recipes/strawberries-lime-white-chocolate-foam/index.en.md
  content/recipes/strawberries-lime-white-chocolate-foam/index.nl.md
Due: npm run recipe validate --

Add three new recipes: Onsen Tamago, Salmon under Fire, Strawberries with White Chocolate Foam (#84)
  content/recipes/onsen-tamago/images/onsen-tamago.jpg
  content/recipes/onsen-tamago/index.en.md
  content/recipes/onsen-tamago/index.nl.md
  content/recipes/sous-vide-salmon-noodles-edamame/images/salmon.jpg
  content/recipes/sous-vide-salmon-noodles-edamame/index.en.md
  content/recipes/sous-vide-salmon-noodles-edamame/index.nl.md
  content/recipes/strawberries-lime-white-chocolate-foam/images/strawberries.jpg
  content/recipes/strawberries-lime-white-chocolate-foam/index.en.md
  content/recipes/strawberries-lime-white-chocolate-foam/index.nl.md
Due: npm run recipe validate --

Add Black Forest 2.0 dessert recipe (NL/EN)
  content/recipes/black-forest-cherries-chocolate-espuma/index.en.md
  content/recipes/black-forest-cherries-chocolate-espuma/index.nl.md
Due: npm run recipe validate --

Add King Oyster Mushroom Dengaku starter recipe (NL/EN)
  content/recipes/king-oyster-dengaku-wasabi-mayo/index.en.md
  content/recipes/king-oyster-dengaku-wasabi-mayo/index.nl.md
Due: npm run recipe validate --

Add Tom Kha Prawn with Charred Edamame soup recipe (NL/EN)
  content/recipes/tom-kha-prawn-charred-edamame/index.en.md
  content/recipes/tom-kha-prawn-charred-edamame/index.nl.md
Due: npm run recipe validate --

Add silky tuna with ginger infusion recipe
  content/recipes/silky-tuna-ginger-infusion/index.en.md
  content/recipes/silky-tuna-ginger-infusion/index.nl.md
Due: npm run recipe validate --

Remove em-dashes from existing recipes
  content/recipes/onsen-tamago/index.en.md
  content/recipes/onsen-tamago/index.nl.md
  content/recipes/sous-vide-salmon-noodles-edamame/index.en.md
  content/recipes/sous-vide-salmon-noodles-edamame/index.nl.md
Due: npm run recipe validate --

fix(recipes): use 'Bereiding' heading and plain-text serving tips
  content/recipes/black-forest-cherries-chocolate-espuma/index.en.md
  content/recipes/black-forest-cherries-chocolate-espuma/index.nl.md
  content/recipes/king-oyster-dengaku-wasabi-mayo/index.nl.md
  content/recipes/silky-tuna-ginger-infusion/index.nl.md
  content/recipes/tom-kha-prawn-charred-edamame/index.nl.md
Due: npm run recipe validate --

fix(recipes): drop unnecessary palm sugar prep note
  content/recipes/black-forest-cherries-chocolate-espuma/index.en.md
  content/recipes/black-forest-cherries-chocolate-espuma/index.nl.md
Due: npm run recipe validate --
